{% extends 'base.twig' %}

{% block content %}

<h2>New password</h2>

<b>{{ flash.info|raw }}</b> <br />
<b>{{ flash.error|raw }}</b> <br />

{{ secureForm(__controller, ["pass", "submit"])|raw }}

<label>Username: </label>
<span>{{ username }}</span> <br />
<label>Password: </label>
<input type="password" name="pass"> <br />
<input type="submit" name="submit" value="Set new password">
{{ closeSecureForm()|raw }}
{% endblock %}
