{% extends 'base.twig' %}

{% block content %}

<h2>Recover Password</h2>

<b>{{ flash.info|raw }}</b> <br />
<b>{{ flash.error|raw }}</b> <br />

{{ secureForm(__controller, ["user", "submit"])|raw }}

<label>Username: </label>
<input type="text" name="user" value="{{ username }}"> <br />
<input type="submit" name="submit" value="Recover Password">
{{ closeSecureForm()|raw }}
{% endblock %}
